.container {
  width: calc(100% - 40px);
  min-height: calc(100% - 40px);
  background-color: #30343F;
  margin: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  display: flex;
  overflow-y: auto;
}