.container {
  position: relative;
  top: 0;
  width: calc(100% - 40px);
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #00B4D8;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logoText {
  height: 100%;
  font-size: 24pt;
  font-weight: bold;
  font-style: italic;
  color: #00B4D8;
  display: flex;
  align-items: center;
}

.logoText:hover {
  cursor: pointer;
}

.button {
  height: 100%;
  padding: 0 20px;
  
  display: flex;
  align-items: center;

  color: #00B4D8;
  font-size: 20pt;
  font-weight: 600;
  transition: 400ms;
}

.button:hover {
  cursor: pointer;
  background-color: #00B4D8;
  color: white;
  transition: 400ms;
}