.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00B4D8;
  width: 300px;
  border-radius: 5px;
  bottom: 20px;
}

.bottomLeft {
  left: 20px;
  animation: appearingLeft 200ms ease-in-out;
}

.bottomRight {
  right: 20px;
  animation: appearingRight 200ms ease-in-out;
}


@keyframes appearingLeft {
  0% {
    opacity: 0;
    left: 0px;
  }
  100% {
    opacity: 1;
    left: 20px;
  }
}

@keyframes appearingRight {
  0% {
    opacity: 0;
    right: 0px;
  }
  100% {
    opacity: 1;
    right: 20px;
  }
}

.content {
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}