.container {
  height: calc(100% - 20px);
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 20px;
  margin-bottom: 10px;
  font-size: 20pt;
  font-weight: bold;
}

.invitationsContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
